# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build artifacts / coverage (por si usas testing en el futuro)
coverage/
dist/

# Editor config files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
